<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit</title>
    <style>
        *{
            font-family: 'Lato', sans-serif;
        }

        .header {
            background-color: deepskyblue;
            color: white;
            margin-top: 0;
            padding: 20px 20px 20px 40px;
        }

        .info{
            margin-top: 20px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>User-Agent</h1>
        <h4>(Created by Sergio Navarro)</h4>
    </div>

    <div class="info">
        {{info}}
    </div>
</body>
</html>